@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int caunt = 1;
}

<h1>Tur Düzenleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="DestinationId" class="form-control" />

    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Gün Gece</label>
    <input type="text" asp-for="DayNight" class="form-control" />
</form>
<button class="btn btn-outline-info mt-3">Güncelle</button>