
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2 class="mb-3">Şehir Ülke İşlemleri</h2>

<button type="button" id="btnGetList" class="btn btn-outline-info mb-3 mx-2">Şehir Listesi</button>
<button type="button" id="btnGetById" class="btn btn-outline-primary mb-3 mx-2">Şehir Getir</button>
<button type="button" id="btnAddCity" class="btn btn-outline-warning mb-3 mx-2">Şehir Ekle</button>
<button type="button" id="btnDeleteCity" class="btn btn-outline-danger mb-3 mx-2">Şehir Sil</button>
<button type="button" id="btnUpdateCity" class="btn btn-outline-success mb-3 mx-2">Şehir Güncelle</button>

<div id="citylist">
    Buraya Şehir Listesi Gelecek
</div>

<div class="mt-2">
    <input type="text" id="txtcity" placeholder="Şehir adını giriniz" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Gün - gece sayısı" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Fiyat" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Konaklayacak kişi sayısı" class="form-control" />
</div>
<br /><br /><br />
<h1>İstediğin şehrin İD değerini giriniz</h1>
<div class="mt-3">
    <input type="text" id="txtid" placeholder="Şehir ID değerini giriniz" class="form-control" />
</div>
<br />
<br />
<br />
<div id="destinationlistbyid" class="mt-3">
</div>
<br />
<br />
<br />
<h1>Silmek İstediğin şehrin İD değerini giriniz</h1>
<div class="mt-3">
    <input type="text" id="txtcityid" placeholder="Silinecek ID değerini giriniz" class="form-control" />
</div>
<br />
<br />
<br />
<div class="mt-3" >
    <input type="text" id="txtcityeditid" placeholder="güncellenecek ID değerini giriniz" class="form-control" />
    <input type="text" id="txtcityname" placeholder="güncellenecek şehir değerini giriniz" class="form-control" />
    <input type="text" id="txtcitdaynightname" placeholder="güncellenecek gün gece bilgisini giriniz" class="form-control" />
</div>

<script>
    $("#btnGetList").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th> Şehir Adı </th> <th> Gün-Gece </th> <th> Fiyatı </th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td> <td>${value.DayNight}</td> <td> ${value.Price} ₺ </td> </tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    });

    $("#btnAddCity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/AddCity/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Eklendi");
            }
        });
    });

    $("#btnGetById").click(x => {
        let id = $("#txtid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/GetById/",
            data: { DestinationID: id },
            success: function (fun2) {
                let result = jQuery.parseJSON(fun2);
                console.log(result);
                let htmlstr = `<table class=table table-bordered><tr><th>Şehir Adı</th><th>Gün-Gece</th><th>Fiyatı</th></tr><tr><td>${result.City}</td><td>${result.DayNight}</td><td>${result.Capacity}</td></tr></table>`;
                $("#destinationlistbyid").html(htmlstr);
            }
        });
    });

    $("#btnDeleteCity").click(x => {
        let id = $("#txtcityid").val();
        $.ajax({
            url: "/Admin/City/DeleteCity/" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (fun3) {
                alert("şehir silindi");
            }
        });
    });

    $("#btnUpdateCity").click(function () {
        let values = {
            DestinationID: $("#txtcityeditid").val(),
            City: $("#txtcityname").val(),
            DayNight: $("#txtcitdaynightname").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/UpdateCity/",
            data: values,
            success: function (fun4) {
                alert("Güncelleme işlemi yapıldı");
            }
        });
    });
</script>